# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Laser.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\Laser\.idea\.idea.Laser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
